@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 31, 31, 31;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 22, 22, 22;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.nav {
  color: rgb(var(---foreground-rgb));
  background: rgb(var(--background-rgb));
}

.sidenav__item {
  color: rgb(var(---foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


.bg-image-register {
  background-image: url('../../public/letters.jpg');
}

.primary {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.active {
  @apply text-[#70FFD9] font-bold border-b-4 border-[#70FFD9];
}

.active__sidebar {
  @apply text-[#70FFD9] bg-[#1F1F1F] font-bold border-b-4 border-[#70FFD9];
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}